@tailwind base;
@tailwind components;
@tailwind utilities;

html.snap-enabled {
  scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for elements like the Blog side panel but keep functionality */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}