@tailwind base;
@tailwind components;
@tailwind utilities;

html.snap-enabled {
  scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
}

.custom-scrollbar, .no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar, .no-scrollbar::-webkit-scrollbar {
  display: none;
}